{% extends "../../../base.html" %}
{% load static %}
{% block title %}Forgot Password | Forever{% endblock %}
{% block content %}
<br>
<br>
  <div class="container">
  <div class="register-form">
    {% if request.GET.command == 'resetpassword' %}
			<div class=" text-center" role="alert">
			<br>
      <br>
			<b><p style="font-size:25px;color:#f4cca4">We sent message to your email, check your gmail to reset password</p></b></b><br><br>
      <br>
			<a class="btn essence-btn"  style="font-size:20px" href="{% url 'accounts:login' %}">Log in</a>
			
			</div>
			
      <br>
      <br><br>

      
    {% else %}
    <div class="title">Forgot Password</div>
    <br>
    {% include "includes/alerts.html" %}
    <div class="content">
      <form  action="{% url 'accounts:forget_password' %}" method="POST">
      {% csrf_token %}
        <div class="user-details">
          <div class="input-boxx">
            <span class="details">Email</span>
            <input name="email" type="text" placeholder="Enter your Email" required>
          </div>
        </div>
        
        <span style="font-size:15px">
           Got Password ?<a   class="dohave btn btn-link" href="{% url 'accounts:login' %}">Log in</a>
        </span>
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
    {% endif %}
    </div>
  </div>
<br>
<br>
{% endblock %}