{% extends "../../../base.html" %}
{% load static %}
{% block title %}Reset Password | Forever{% endblock %}
{% block content %}
<br>
<br>
  <div class="container">
  <div class="register-form">
    
    <div class="title">Reset Password</div>
    <br>
    {% include "includes/alerts.html" %}
    <div class="content">
      <form  action="{% url 'accounts:reset_password' %}" method="POST">
      {% csrf_token %}
        <div class="user-details">
          <div class="input-boxx">
            <span class="details">New Password</span>
            <input name="password" type="password" placeholder="Enter New Password" required>
          </div>
          <div class="input-boxx">
            <span class="details">Confirm New Password</span>
            <input name="confirm_password" type="password" placeholder="Confirm New Password" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Reset Password">
        </div>
      </form>
    </div>
    </div>
  </div>
<br>
<br>
{% endblock %}