{% extends "../../../base.html" %}
{% load static %}
{% block title %}Change Password | Forever{% endblock %}
{% block content %}


<br>
<div class="breadcumb_area bg-img">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Change Password</h2>
                </div>
            </div>
            
    {% include "includes/alerts.html" %}
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">

    <div class="container">
    
        <div class="row">
            {% include "includes/dashboard_slider.html" %}
            <main class="col-md-9">
                <form action="{% url 'accounts:change_password' %}" method="POST" enctype="multipart/form-data">
                    <article class="card usercard ">
                        <header class="card-header text-center">
                            <strong style="font-size:20px;float:left" class="d-inline-block mr-3">Change Password</strong>
                            
                        </header>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-12 form-edit-profile ">

                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Old Password</label>
                                            <input type="password" name="old_password" class="form-control" required>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>New Password</label>
                                            <input type="password" name="new_password"  class="form-control" required>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label>Repeat New Password</label>
                                            <input type="password" name="repeat_new_password"  class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                
                            
                            </div> <!-- row.// -->
                            <br>
                                <br>
                            <div class="col-12 text-center">
                            <input 
                                type="submit" value="Change Password" class="btn essence-btn change_password_button">
                            </div>
                        </div> <!-- card-body .// -->

                    </article> <!-- order-group.// -->
                </form>
            </main>
        </div>
    </div>
</section>


{% endblock %}